button {
    border-radius: 4px;
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
  
button {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

button:after {
    content: '\00bb'; /* Adds '»' symbol */
    position: relative;
    opacity: 0;
    top: 0;
    right: 0px;
    margin-left: 10px;
    transition: 0.5s;
}

button:hover {
    padding-right: 25px;
}

button:hover:after {
    opacity: 1;
    right: 0;
}


#green {
    background-color: green;
}
#red {
    background-color: red;
}
#yellow {
    background-color: yellow;
}
#blue {
    background-color: blue;
}
